<script src="https://cdn.firebase.com/libs/geofire/4.1.2/geofire.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<!DOCTYPE html>
<html>

<head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <!-- Place this inside the HTML head; don't use async defer for now -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/geofire/4.1.2/geofire.min.js"></script>

    <script>

        var config = {
            apiKey: "AIzaSyB0rtz2Q8ejgA63Yv0McdkDZWZ-_xyI8xs",
            authDomain: "geolocation-1b35f.firebaseapp.com",
            databaseURL: "https://geolocation-1b35f.firebaseio.com",
            projectId: "geolocation-1b35f",
            storageBucket: "geolocation-1b35f.appspot.com",
            messagingSenderId: "1020735781907",
            appId: "1:1020735781907:web:11ce2cf876fd271c6f53e6",
            measurementId: "G-XH3YMEGJYL"

        };

        if (!firebase.apps.length) {
            firebase.initializeApp(config);
        }

        //Create a node at firebase location to add locations as child keys
        var locationsRef = firebase.database().ref("latlong");

        // Create a new GeoFire key under users Firebase location
        var geoFire = new GeoFire(locationsRef.push());
    </script>

    <div>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: aquamarine;">
            <a class="navbar-brand" href="#">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{value}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Change Password</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</head>

<body>
    <div id="map"></div>
    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.

        var map, infoWindow;
        var lat, lng;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 18
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    lat = position.coords.latitude;
                    lng = position.coords.longitude;

                    var pos = { lat: lat, lng: lng };
                    _setGeoFire();


                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }

        function _setGeoFire() {
            geoFire.set("User", [lat, lng]).then(() => {
                console.log("Location added");
            }).catch(function (error) {
                console.log(error);
            });


        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUNwPV6s3WnYdFY-iTjWYUgzmYjMG8rrE&callback=initMap">
    </script>
</body>

</html>