<div id="map" style="width: 800px; height: 80vh;"></div>
<script>
    var map;
    var locations = '{{ user_latlng | safe }}';
    var latlongArr = locations.split(';');
    console.log(latlongArr)
    var initLtlg = latlongArr[0].split(',');
    var user = []
    function initMap() {
        var myLatLng = { lat: parseFloat(initLtlg[0]), lng: parseFloat(initLtlg[1]) };
        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();

        var marker, i;
        for (i = 0; i < latlongArr.length-1; i++) {
            var latlng = latlongArr[i].split(',');
            var lati = parseFloat(latlng[0])
            var lngi = parseFloat(latlng[1])
            var time= latlng[2]
            user.push({
                lat: lati,
                lng: lngi
            });
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(lati, lngi),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(time);
                    infowindow.open(map, marker);
                }
            })(marker, i));

            var userPath = new google.maps.Polyline({
                path: user,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            userPath.setMap(map);
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArbAIIe2DNFzV8bWdqno7S-9UcZmMlkos&callback=initMap"
    async defer></script>
 