<div id="usersmap" ></div>
<script>
    var map;
    var locations = '{{ users_loc | safe }}';
    
    var latlongArr = locations.split(';');
    console.log(latlongArr)
    var initLtlg = latlongArr[0].split(',');
    console.log(initLtlg)
    function initMap() {
        var myLatLng = { lat: parseFloat(initLtlg[1]), lng: parseFloat(initLtlg[2]) };
        map = new google.maps.Map(document.getElementById('usersmap'), {
            center: myLatLng,
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();

        var marker, i;
        for (i = 0; i < latlongArr.length-1; i++) {
            var latlng = latlongArr[i].split(',');
            var lati = parseFloat(latlng[1])
            var lngi = parseFloat(latlng[2])
            var name = latlng[0]
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(lati, lngi),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(name);
                    infowindow.open(map, marker);
                }
            })(marker, i));


        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArbAIIe2DNFzV8bWdqno7S-9UcZmMlkos&callback=initMap"
    async defer></script>
 